{
	# HTTPS/TLS is handled by Fly or on your domain (eg: Cloudflare)
	auto_https off
	admin off
	persist_config off

	log {
		level INFO
		output stdout
		format console
	}
}

{$CADDY_DOMAINS::80} {
	encode zstd gzip

	header / {
		# Enable HTTP Strict Transport Security (HSTS)
		Strict-Transport-Security "max-age=31536000;"
		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"
		# Disallow the site to be rendered within a frame (clickjacking protection)
		X-Frame-Options "DENY"
		# Prevent search engines from indexing
		X-Robots-Tag "noindex, nofollow"
		# Disallow sniffing of X-Content-Type-Options
		X-Content-Type-Options "nosniff"
		# Server name removing
		-Server
		# Remove X-Powered-By though this shouldn't be an issue, better opsec to remove
		-X-Powered-By
		# Remove Last-Modified because etag is the same and is as effective
		-Last-Modified
	}

	# Proxy to Vaultwarden (Rocket)
	reverse_proxy localhost:8080 {
		# Match layers
		@cf header CF-Connecting-IP *
		@fly {
			not header CF-Connecting-IP *
			header Fly-Client-IP *
		}
		@direct {
			not header CF-Connecting-IP *
			not header Fly-Client-IP *
		}

		# Layer 1: Cloudflare
		header_up X-Real-IP @cf {header.CF-Connecting-IP}
		header_up X-Forwarded-For @cf {header.CF-Connecting-IP}

		# Layer 2: Fly.io
		header_up X-Real-IP @fly {header.Fly-Client-IP}
		header_up X-Forwarded-For @fly {header.Fly-Client-IP}

		# Layer 3: Direct
		header_up X-Real-IP @direct {remote_host}
		header_up X-Forwarded-For @direct {remote_host}
	}
}
